*{
	margin: 0;
	padding: 0;
}
/*reset css*/
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
.container{
	width: 100%;
	height: 70px;
	position: relative;
}
.header{
	width: 100%;
	height: 70px;
	padding: 0 10px;
	box-sizing: border-box;
	position: absolute;
	background: black;
}
.logo{
	width: 10%;
	height: 70px;
	float: left;
	padding-top: 20px;
	margin-left: 10px;
}
.menu {
	width: 80%;
	height: 70px;
	float: left;
	
}
.menu ul {
	list-style: none;
	text-align: left;
	margin-top: 28px;
}
.menu ul li{
	display: inline-block;
	margin-left: 10px;
}
.menu ul li a{
	color: white;
	font-size: 15px;
	text-decoration: none;
	transition-duration: 0.5s;
	display:inline-block;
}
.menu ul li a:hover {
	color: mediumvioletred;
	
}
.menu li:hover .sub-about {
    z-index:1;
	opacity: 1;
}
.sub-about {
    width:15%;
    padding:0px;
    position:absolute;
    top:70%;
    left:90px;
    opacity:0;
	background:black;
	border-radius: 7px;
	
}
.sub-about li {
    display:block;
    font-size:15px;
}
.sub-about li a {
    padding:15px 20px;
    display:block;
}
.sub-season {
    width:9%;
    padding:0px;
    position:absolute;
    top:70%;
    left:330px;
    opacity:0;
	background:black;
	border-radius: 7px;}
.menu li:hover .sub-season {
    z-index:1;
	opacity: 1;
}
.sub-season li {
    display:block;
    font-size:15px;
}
.sub-season li a {
    padding:15px 10px;
    display:block;
}
.sub-shop {
    width:15%;
    padding:0px;
    position:absolute;
    top:70%;
    left:720px;
    opacity:0;
	background:black;
	border-radius: 7px;}
.menu li:hover .sub-shop {
    z-index:1;
	opacity: 1;
}
.sub-shop li {
    display:block;
    font-size:15px;
}
.sub-shop li a {
    padding:15px 20px;
	display:block;}
.sub-compete {
    width:20%;
    padding:0px;
    position:absolute;
    top:70%;
    left:620px;
    opacity:0;
	background:black;
	border-radius: 7px;}
.menu li:hover .sub-compete {
    z-index:1;
	opacity: 1;
}
.sub-compete li {
    display:block;
    font-size:15px;
}
.sub-compete li a {
    padding:15px 10px;
	display:block;}
	
.bg-parallax-1{
	width:100%;
	height: 600px;
	background: url(../img/apex-hero-large-s6-keyart-homepage-ftue-16x9-xl.jpg.adapt.crop3x2.1455w.jpg);
	backgroung-postion:center;
	backgroung-repeat:no-repeat;
	background-size:cover;
	position: relative;
}
.anh{
	height:50%;
	top: 30%;
	left:100px;
	position: absolute;
}
.box1{
	height: 50px;
	width: 170px;
	background: white;
	border-radius: 5px;
	position: absolute;
	top:65%;
	left: 30px;
}
.box1 p{
	font-size: 17px;
	text-align: center;
	padding-top: 16px;
	color: black;
	transition-duration: 0.9s;
	
}
.box1:hover{
	padding: 3px ;
	font-size: 20px;
	
}
.box1 p:hover{
	color:mediumvioletred;
}
.box2{
	height: 50px;
	width: 200px;
	background: white;
	border-radius: 5px;
	position: absolute;
	top:65%;
	left: 220px;
}
.box2 p{
	font-size: 17px;
	text-align: center;
	padding-top: 16px;
	color: black;
	transition-duration: 0.9s;
	
}
.box2:hover{
	padding: 3px;
	font-size: 20px;
	
}
.box2 p:hover{
	color:mediumvioletred;}

.bg-parallax-2{
	width:100%;
	height: 600px;
	background: url(../img/h.jpg);
	backgroung-postion:center;
	backgroung-repeat:no-repeat;
	background-size:cover;
	position: relative;
}
.text3{
	height: 150px;
	width: 400px;
	right:100px;
	position: absolute;
	top:40%;
}
.text3 p1{
	font-size: 26px;
	color: mediumvioletred;
}
.text3 p2{
	font-size: 20px;
}
.box3{
	height: 50px;
	width: 200px;
	background: mediumvioletred;
	border-radius: 5px;
	position: absolute;
	top:65%;
	right: 220px;
}
.box3 p{
	font-size: 17px;
	text-align: center;
	padding-top: 16px;
	color: black;
	transition-duration: 0.9s;
	
}
.box3:hover{
	padding: 3px;
	font-size: 20px;
	
}
.box3 p:hover{
	color:white;
transition-duration: 1s;}

.foter{
	background: black;
	height: 200px;
	position: relative;
}
.foter2{
	left:180px;
	position: absolute;
	top:80px;
	opacity: 0.8;
	
}
.foter1{
	left: 20px;
	position: absolute;
	top:40px;
	opacity: 0.8;
}
.foter3{
	right: 20px;
	position: absolute;
	top: 50px;
	opacity: 0.8;
}

